//comentario sass 
/*comentario en los dos lados*/

//nesting

/**/


@import "/css/style.css";

//variables
$color-principal:rgb(255, 255, 255);
$color-secundario:rgba(184, 184, 184, 0.628);
$color-terciario:black;
  //Estilos generales 

  
    .main-content {
      flex: 1;
    }
  
    footer {
      background-color: #336699;
      color: #ffffff;
      padding: 30px;
      text-align: center;
      margin-top: 20px; 
    }

    footer a {
      color: #fff; 
      text-decoration: none; 
      border-bottom: none; 
      transition: color 0.3s ease; 
    }
    
    footer a:hover {
      color: #ffcc00; 
    }
    

// Define la variable de la fuente Raleway
$raleway-font: 'Raleway', sans-serif;

body {
  font-family: $raleway-font;

}

html body {
  background-color:#ffffff;
}


  /* nav bar */
  header {
    font-family: $raleway-font;
    align-items: center;
    justify-content: space-between;
    
  
    a {
      text-decoration: none;
      color: black;
    }
  
    li {
      display: inline;
      margin-left: 250px;
    }
  }
  
 
  
  /* Index */
  .div1 {
    width: 100%;
  }
  
 
  .p1, .p2 {
  width: calc(40% - 20px); 
  background-color: #{$color-secundario};
  display: inline-block;
  margin: 2%;
  box-sizing: border-box;
  margin-left: 5%;
  border: 8px solid #{$color-principal};
  border-radius: 25px;
  padding: 10px;
  color: #{$color-terciario};
  font-size: 20px;
  font-weight: bolder;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

#FotoLogo {
  margin-bottom: 20px; 
  width: 35%;
  height: 35%;
}
.fondoImagen {
  background-image:url(../Images/fondo-pagina.jpg) ;

}

label {
  display: block; 
  margin-bottom: 10px; 
}


@media screen and (max-width: 767px) {
  .p1,
  .p2 {
    width: 100%; 
    float: none; 
    margin: 10px 0; 
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}

  .p2 {
    float: right;
  }
  
  @media screen and (max-width: 1024px) {
    .navbar-nav {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 767px) {
    .navbar-nav {
      flex-direction: column;
    }
  }
  select {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: cursive, sans-serif;
    outline: 0;
    background:#336699;
    color: #fff;
    border: 1px solid rgb(220, 100, 20);
    padding: 4px;
    border-radius: 9px;
  }
  
  

// Estilos para el formulario principal
form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 600px; 

  // Estilos para el grupo de destinos
  #lang {
    flex: 1; 
  }

 
  #fecha {
    flex: 1; 
    margin: 0; 
  }
}

// Estilos para las etiquetas
label {
  display: block; 
  margin-bottom: 5px; 
}

  /* Ajustes para el contenedor principal */
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Ajustes para el contenedor del dropdown */
  .btn-group {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  
    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
    }
  }
  
  /* Destinos mb */
  .contenedor {
    display: flex;
    flex-wrap: wrap;
  }
  
  .foto {
    background-color: #083969;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    margin: 10px; /* Ajusta el margen según tu preferencia */
    padding: 10px;
    width: 200px;
    transition: transform 0.3s ease;
}

.foto:hover {
    transform: scale(1.1);
}

.foto img {
    max-width: 100%;
    height: auto;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fila {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px; /* Ajusta según sea necesario */
}

.foto {
  background-color: #083969;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  margin: 10px;
  padding: 10px;
  width: 200px;
  transition: transform 0.3s ease;
}

.foto:hover {
  transform: scale(1.1);
}

.foto img {
  max-width: 100%;
  height: auto;
}

  // Estilos generales para la sección de parrafos
.parrafo {
  margin: 20px; // Agrega márgenes de 20px alrededor de la sección
  padding: 20px; // Agrega un relleno interno de 20px para separar el contenido de los bordes
  box-sizing: border-box; // Incluye el relleno y el borde en el ancho y alto del elemento

  // Estilos adicionales para el texto dentro de la sección
  p {
    margin-bottom: 15px; // Agrega un espacio entre párrafos
  }
}

  /* mq de tablet */
  @media screen and (min-width: 600px) {
  }
  
  /* mq de desktop */
  @media screen and (min-width: 1024px) {
  }
  
  /* Los mejores hoteles */
  .container {
    display: flex;
    flex-wrap: wrap;
  
    /* Estilo para la foto del hotel */
    .img img {
      width: 100%;
      height: 68%;
      margin-right: 10px;
      margin: 25px;
    }
  
    /* Estilo para el mapa */
    .map {
      flex: 1;
      width: 100%;
      height: 78.5%;
      margin: 25px;
    }
  }
  
  /* Playas */
  .image-container,
  .image-container2 
  {
    display: flex;
  
    img {
      width: 400px;
      height: 400px;
      margin-right: 10px;
    }
  }
  
  
  

  /* Quienes somos */
  h1 {
    color: #{$color-principal};
    border: 8px solid;
    border-radius: 18px;
    padding: 10px;
    font-weight: bold;
  }
  #inicio{
    color: #{$color-principal};
    border: 8px solid;
    border-radius: 18px;
    padding: 10px;
    font-weight: bold;
  }

  .parrafo {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: #{$color-terciario};
    background-color: #{$color-secundario};
    border: 8px solid #{$color-principal};
    border-radius: 8px;
    padding: 10px;
    margin: 100px;
    font-size: 20px;
    font-weight: bolder;
    
  }
  
  p {
    font-size: 20px;
  }
  
  .ubicarForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px;
    border: 4px solid #{$color-principal};
    border-radius: 20px;
    background-color: #{$color-secundario};
    color: #{$color-terciario};
    font-size: 25px;

  }

  .estiloLabel{
    color: white;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    font-size: 25px;
  }

  h2{
    color: #{$color-terciario};
    display: flex;
    align-self: center;
    margin: 15px;
    font-size:30px;
    font-weight: bo;
  }
  