/* comentario en los dos lados*/
@import "scss/index.scss" body;
display flex
flex-direction column
min-height
margin
.main-content {
  flex: 1; }

footer {
  background-color: #495cdd;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: auto; }

/* nav bar */
header {
  align-items: center;
  justify-content: space-between; }
  header a {
    text-decoration: none;
    color: black; }
  header li {
    display: inline;
    margin-left: 250px; }

/* cuerpo de las paginas */
body {
  background-color: #f5f5f5; }

/* Index */
.div1 {
  width: 100%; }

.p1,
.p2 {
  width: 50%;
  background-color: #495cdd;
  margin: 0;
  display: inline;
  float: left; }

.p2 {
  float: right; }

@media screen and (max-width: 1024px) {
  .navbar-nav {
    flex-direction: column; } }

@media screen and (max-width: 767px) {
  .navbar-nav {
    flex-direction: column; } }

/* Ajustes para el contenedor principal */
body {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* Ajustes para el contenedor del dropdown */
.btn-group {
  position: relative;
  display: inline-block;
  margin-top: 20px; }
  .btn-group .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000; }

/* Destinos mb */
.contenedor {
  display: flex;
  flex-wrap: wrap; }

.foto {
  background-color: #495cdd;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  margin: 10px;
  padding: 10px; }

/* mq de tablet */
/* mq de desktop */
/* Los mejores hoteles */
.container {
  display: flex;
  flex-wrap: wrap;
  /* Estilo para la foto del hotel */
  /* Estilo para el mapa */ }
  .container .img img {
    width: 640px;
    height: auto;
    margin-right: 10px; }
  .container .map {
    flex: 1;
    height: 300px; }

/* Playas */
.image-container,
.image-container2 {
  display: flex; }
  .image-container img,
  .image-container2 img {
    width: 400px;
    height: 400px;
    margin-right: 10px; }

/* Quienes somos */
h1 {
  color: #4caf50;
  text-align: center; }

.parrafo {
  color: #4caf50; }

p {
  font-size: 20px; }
